<?xml version="1.0" encoding="UTF-8"?>
<FIXML xsi:schemaLocation="http://www.finacle.com/fixml DeDuplicationInq.xsd" xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<Header>
  <RequestHeader>
    <MessageKey>
      <RequestUUID><%= @message_key.request_uuid %></RequestUUID>
      <ServiceRequestId><%= @message_key.service_request_id %></ServiceRequestId>
      <ServiceRequestVersion><%= @message_key.service_request_version %></ServiceRequestVersion>
      <ChannelId><%= @message_key.channel_id %></ChannelId>
      <LanguageId><%= @message_key.language_id %></LanguageId>
    </MessageKey>

    <RequestMessageInfo>
      <BankId><%= @request_message_info.bank_id %></BankId>
      <TimeZone><%= @request_message_info.time_zone %></TimeZone>
      <EntityId><%= @request_message_info.entity_id %></EntityId>
      <EntityType><%= @request_message_info.entity_type %></EntityType>
      <ArmCorrelationId><%= @request_message_info.arm_correlation_id %></ArmCorrelationId>
      <MessageDateTime><%= @request_message_info.message_date_time %></MessageDateTime>
    </RequestMessageInfo>

    <Security>
      <Token>
        <PasswordToken>
          <UserId><%= @security_header.token.password_token.user_id %></UserId>
          <Password><%= @security_header.token.password_token.password %></Password>
        </PasswordToken>
      </Token>
      <FICertToken><%= @security_header.FI_cert_token %></FICertToken>
      <RealUserLoginSessionId><%= @security_header.real_user_login_session_id %></RealUserLoginSessionId>
      <RealUser><%= @security_header.real_user %></RealUser>
      <RealUserPwd><%= @security_header.real_user_pwd %></RealUserPwd>
      <SSOTransferToken><%= @security_header.SSO_transfer_token %></SSOTransferToken>
    </Security>

  </RequestHeader>
</Header>


<Body>
  <DeDuplicationInqRequest>
    <DeDuplicationInqRq>
      <RecCtrlIn>
        <MaxRec><%= @rec_ctrl_in.max_rec %></MaxRec>
        <SetNum><%= @rec_ctrl_in.set_num %></SetNum>
      </RecCtrlIn>
      <% if !@de_duplication_inq_rq.first_name.to_s.empty? %>
      <FirstName><%= @de_duplication_inq_rq.first_name %></FirstName>
      <% end %>
      <% if !@de_duplication_inq_rq.middle_name.to_s.empty? %>
      <MiddleName><%= @de_duplication_inq_rq.middle_name %></MiddleName>
      <% end %>
      <% if !@de_duplication_inq_rq.last_name.to_s.empty? %>
      <LastName><%= @de_duplication_inq_rq.last_name %></LastName>
      <% end %>
      <% if !@de_duplication_inq_rq.is_across_entity.to_s.empty? %>
      <IsAcrossEntity><%= @de_duplication_inq_rq.is_across_entity %></IsAcrossEntity>
      <% end %>
      <% if !@de_duplication_inq_rq.birth_dt.to_s.empty? %>
      <BirthDt><%= @de_duplication_inq_rq.birth_dt %></BirthDt>
      <% end %>

    </DeDuplicationInqRq>
  </DeDuplicationInqRequest>
</Body>

</FIXML>